body {
    text-align: center;
    font-family: sans-serif;
    background-image: url(../multimedia/img/fondo.jpg);
  }
  
  #lista2 li {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #lista2 li img {
    @extend %width;
    height: 100%;
  }
  
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
  }
  
  .grid1 li {
    padding: 1em;
    transition: all 1.1s;
  }
  
  .grid1 li:hover {
    border: 1px solid black;
    transform: scale(1.1);
  }

  .carrusel-1{
    padding: 5px;
    margin: 2%;
}