.grid2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    
}

.grid2 li{
    padding: 1em;
    transition: all 1.1s;
}

.grid2 li:hover{
    border: 1px solid black;
    transform: scale(1.1);
}



#lista3 li {
    display:flex;
    padding-left:3px;
    padding-right:3px;
    
}

#lista3 li img{
    width: 100%;
    margin: 10px;
}

.vid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: larger;
}

@media screen and (max-width: 710px){
    .vid1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}


.vid1 iframe{
    width: 100%;
    height: 100%;
}

.vid1-a{
    grid-row-start: 1;
    grid-row-end: 3;
}

.lista4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
}

.lista4 div img{
    width: 30%;
}

.lista4 div:hover{
    background-color: bisque;
    border: solid 1px black;
}

