.grid2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    
}

.grid2 li{
    padding: 1em;
    transition: all 1.1s;
}

.grid2 li:hover{
    border: 1px solid black;
    transform: scale(1.1);
}



#lista3 li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
    
}

#lista3 li img{
    width: 300px;
    height: 300px;
    margin: 10px;
}

#lista4 li img{
    width: 200px ;
    height: 200px ;
}

.img1{
    display: flex;
}
.img2{
    display: flex;
}
.img3{
    display: flex;
}
.img4{
    display: flex;
}