/* --------------------------footer-------------------------------- */

footer {
    display: grid;
    background-color: rgba(231, 205, 15, 0.605);
    grid-template-columns: 1fr 1fr;
}
footer div img:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
