* {
    margin: 1%;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
  }

a{
    text-decoration: none;
    color: black;
  }
  
#lista1 li {
    padding-left: 3px;
    padding-right: 3px;
  }
  
#lista1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.logo1 {
    display: flex;
    justify-content: center;
  }
  
#lista1 li:hover {
    border: 1px solid black;
    background-color: rgba(255, 179, 0, 0.653);
    transition: all 0.5s;
  }
  
  /* -----------------------header------------------------- */